## Exercices d’introduction à la librairie Pandas

1) Importation de la librairie pandas

In [2]:
import pandas as pd

2) Importation du fichier csv

In [ ]:
df = pd.read_csv('data/Exercices_Pandas_athlete_events.csv')

3) Afficher les 5 premières lignes afin de voir si l’importation est correct (fonction : head())

In [9]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

4) Afficher les 5 dernière lignes (fonction tail() )

In [10]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

5) Afficher les informations sur le dataframe (le nombre de ligne, colonne, le nombre nan, le 
type de colonne) (méthode info)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

6) Afficher les dimensions du dataframe (la méthode shape)

In [12]:
df.shape

(271116, 15)

7) Afficher les statistiques descriptives du dataframe

In [13]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

8) Compter le nombre de valeur null dans le dataframe

In [ ]:
df.isna().sum() #.sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

9) Sélectionner la colonne Edition et afficher (selon 2-3 manières) (Edition=Games)

In [21]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [23]:
display(df[['Games']])
display(df.loc[:,'Games'])
display(df.iloc[:,8])
display(df.Games)

              Games
0       1992 Summer
1       2012 Summer
2       1920 Summer
3       1900 Summer
4       1988 Winter
...             ...
271111  1976 Winter
271112  2014 Winter
271113  2014 Winter
271114  1998 Winter
271115  2002 Winter

[271116 rows x 1 columns]

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

10) Sélectionner la colonne Name et afficher le résultat en triant par ordre alphabétique

In [31]:
df['Name'].str.strip().sort_values()

0                        A Dijiang
1                         A Lamusi
153340    A. Aanantha Sambu Mayavo
528                A. Abdul Razzak
529                A. Abdul Razzak
                    ...
114964                   zlem Kaya
79870                   zman Graud
207676                  zzet Safer
102956                    zzet nce
102955                    zzet nce
Name: Name, Length: 271116, dtype: object

11) Sélectionner les colonnes Event, city, Name, Medal

In [ ]:
df.loc[:,['Event','City','Name','Medal']]

,Event,City,Name,Medal
0,Basketball Men's Basketball,Barcelona,A Dijiang,NaN
1,Judo Men's Extra-Lightweight,London,A Lamusi,NaN
2,Football Men's Football,Antwerpen,Gunnar Nielsen Aaby,NaN
3,Tug-Of-War Men's Tug-Of-War,Paris,Edgar Lindenau Aabye,Gold
4,Speed Skating Women's 500 metres,Calgary,Christine Jacoba Aaftink,NaN
...,...,...,...,...
271111,Luge Mixed (Men)'s Doubles,Innsbruck,Andrzej ya,NaN
271112,"Ski Jumping Men's Large Hill, Individual",Sochi,Piotr ya,NaN
271113,"Ski Jumping Men's Large Hill, Team",Sochi,Piotr ya,NaN
271114,Bobsleigh Men's Four,Nagano,Tomasz Ireneusz ya,NaN
271115,Bobsleigh Men's Four,Salt Lake City,Tomasz Ireneusz ya,NaN

12) Slicer les lignes de 0 à 25 du dataframe au moyen du iloc

In [42]:
df.iloc[0:26]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

13) Filtrer la discipline Football de 2 manières différentes

In [57]:
df[df['Sport'].str.lower()=='football']
df.loc[df['Sport'].str.lower()=='football']
df.groupby(by=['Sport']).get_group(('Football'))
df[df['Sport'].isin(['Football'])]

C:\Users\georg\AppData\Local\Temp\ipykernel_26108\3479989987.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df.groupby(by=['Sport']).get_group(('Football'))

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
116,41,Rolf Aas,M,28.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
157,61,Stefan Abadzhiev,M,26.0,175.0,72.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Football,Football Men's Football,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270810,135438,Manuel Ziga Fernndez,M,20.0,172.0,69.0,Spain,ESP,1980 Summer,1980,Summer,Moskva,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
270901,135476,Emily Jane Zurrer,F,21.0,179.0,69.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN

14) Filtrer le dataframe sur la saison Summer et stocker les lignes dans une nouvelle variable 
appelée « ete »

In [61]:
ete = df[df['Season']=='Summer']
ete.head()

df[df['Games'].str.contains('Summer')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

15) Filtrer le dataframe sur la saison Winter et stocker les lignes dans une nouvelle variable 
appelée « hiver »

In [64]:
hiver = df.loc[df['Season']!='Summer']
hiver

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

16) Afficher de manière unique tous les sports

In [73]:
df['Sport'].unique()

#df['Sport'].nunique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

17) Filtrer les lignes pour récupérer les athlètes ayant dans leur nom « Owens » ou « Jesse » et 
stocker cela dans une nouvelle variable

In [80]:
owens = df['Name'].str.contains('Owens')
jesse = df['Name'].str.contains('Jesse')
df[owens|jesse]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
14038,7587,"Kenneth Owens ""Ken"" Bantum",M,21.0,198.0,106.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Men's Shot Put,NaN
35531,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Individual,NaN
35532,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States Golf Association-3,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Team,Bronze
43016,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's Sprint,NaN
43017,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256091,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
256092,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
260999,130612,Jesse Daniel Williams,M,24.0,184.0,80.0,United States,USA,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's High Jump,NaN
261000,130612,Jesse Daniel Williams,M,28.0,184.0,80.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's High Jump,NaN
262755,131475,Harvey Jesse Wood,M,23.0,193.0,89.0,England-1,GBR,1908 Summer,1908,Summer,London,Hockey,Hockey Men's Hockey,Gold

In [75]:
owens_jesse = df['Name'].str.contains("Jesse |Owens")
df[owens_jesse]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
14038,7587,"Kenneth Owens ""Ken"" Bantum",M,21.0,198.0,106.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Men's Shot Put,NaN
35531,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Individual,NaN
35532,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States Golf Association-3,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Team,Bronze
43016,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's Sprint,NaN
43017,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256091,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
256092,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
260999,130612,Jesse Daniel Williams,M,24.0,184.0,80.0,United States,USA,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's High Jump,NaN
261000,130612,Jesse Daniel Williams,M,28.0,184.0,80.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's High Jump,NaN
262755,131475,Harvey Jesse Wood,M,23.0,193.0,89.0,England-1,GBR,1908 Summer,1908,Summer,London,Hockey,Hockey Men's Hockey,Gold

In [78]:
jesse_owens = df[df['Name'].str.contains('Jesse','Owens')]

jesse_owens

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
35531,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Individual,NaN
35532,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States Golf Association-3,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Team,Bronze
43016,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's Sprint,NaN
43017,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
43018,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256091,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
256092,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
260999,130612,Jesse Daniel Williams,M,24.0,184.0,80.0,United States,USA,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's High Jump,NaN
261000,130612,Jesse Daniel Williams,M,28.0,184.0,80.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's High Jump,NaN
262755,131475,Harvey Jesse Wood,M,23.0,193.0,89.0,England-1,GBR,1908 Summer,1908,Summer,London,Hockey,Hockey Men's Hockey,Gold

18) Compter les occurrences de la colonne Event de Owens, Jesse (fonction value_counts())

In [86]:
df.loc[jesse&owens,['Event']].value_counts()

Event
Athletics Men's 100 metres              1
Athletics Men's 200 metres              1
Athletics Men's 4 x 100 metres Relay    1
Athletics Men's Long Jump               1
Name: count, dtype: int64

19) Compter combien y a-t-il de femme et d’homme dans le dataframe (fonction value_counts())

In [87]:
df['Sex'].value_counts()

Sex
M    196594
F     74522
Name: count, dtype: int64

In [88]:
df.drop_duplicates(subset=['ID']).value_counts('Sex')

Sex
M    101590
F     33981
Name: count, dtype: int64

20) Quel est l’athlète le plus jeune

In [97]:
df.loc[df['Age'].idxmin()]

ID                                        71691
Name                         Dimitrios Loundras
Sex                                           M
Age                                        10.0
Height                                      NaN
Weight                                      NaN
Team              Ethnikos Gymnastikos Syllogos
NOC                                         GRE
Games                               1896 Summer
Year                                       1896
Season                                   Summer
City                                     Athina
Sport                                Gymnastics
Event     Gymnastics Men's Parallel Bars, Teams
Medal                                    Bronze
Name: 142882, dtype: object

In [98]:
df[df['Age']==df['Age'].min()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze

In [94]:
df.sort_values(by=['Age']).iloc[0]

ID                                        71691
Name                         Dimitrios Loundras
Sex                                           M
Age                                        10.0
Height                                      NaN
Weight                                      NaN
Team              Ethnikos Gymnastikos Syllogos
NOC                                         GRE
Games                               1896 Summer
Year                                       1896
Season                                   Summer
City                                     Athina
Sport                                Gymnastics
Event     Gymnastics Men's Parallel Bars, Teams
Medal                                    Bronze
Name: 142882, dtype: object

21) Quel est l’athlète le plus vieux

In [99]:
df[df['Age']==df['Age'].max()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
257054,128719,John Quincy Adams Ward,M,97.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN

22) Quels sont les joueurs ayant gagné des médailles d’Or en badminton simple au cours des 
années. Trier le résultat par ordre alphabétique sur le nom des joueurs.

In [105]:
gold = df['Medal'] == 'Gold'
badminton = df['Sport'] == 'Badminton'
singles = df['Event'].str.contains("Singles")

df.loc[gold&badminton&singles,'Name'].str.strip().sort_values()

31409          Alexander Alan Budikusuma Wiratama
13855                               Bang Su-Hyeon
149622                    Carolina Mara Marn Marn
39337                                   Chen Long
81604                                Gong Zhichao
108331                                 Ji Xinpeng
138456                                  Li Xuerui
139311                                    Lin Dan
139312                                    Lin Dan
232573    Lucia Francisca "Susi" Susanti Haditono
99666         Poul-Erik Hyer Larsen (-Engel Hyer)
95679                              Taufik Hidayat
268880                                 Zhang Ning
268881                                 Zhang Ning
Name: Name, dtype: object

23) Quels sont les 3 pays ayant gagné le plus de médailles de 1984 à 2016

In [ ]:
medal = df['Medal'].notna()
year84_16 = df['Year'].between(1984,2016)

df[medal&year84_16].groupby(by=['NOC']).count()['Medal']\
    .sort_values(ascending=False)

NOC
USA    2756
GER    1268
RUS    1148
CHN     989
AUS     976
       ...
VAN       0
YEM       0
YAR       0
VIN       0
YMD       0
Name: Medal, Length: 218, dtype: int64

In [118]:
df[medal&year84_16]\
    .drop_duplicates(subset=['NOC','Year','Event','Medal','Team'])\
        .groupby(by=['NOC']).count()['Medal']\
            .sort_values(ascending=False)

NOC
USA    1177
CHN     595
RUS     576
GER     574
FRA     372
       ...
SRI       1
SEN       1
TGA       1
SUD       1
URU       1
Name: Medal, Length: 137, dtype: int64

24) Combien y a-t-il d’homme et de femme ayant participé aux Jeux olympiques d’été en 2016

In [126]:
game = df['Games']=='2016 Summer'
df[game].drop_duplicates(subset=['ID']).value_counts('Sex')

Sex
M    6145
F    5034
Name: count, dtype: int64

25) Afficher le nombre de médailles pour la Belgique

In [ ]:
belgique = df['NOC'] == "BEL"

df[medal&belgique]\
    .drop_duplicates(subset=['Year','Event','Medal'])['Medal'].value_counts(sort=False)

Medal
Silver    60
Gold      45
Bronze    66
Name: count, dtype: int64

26) Quels sont les sports pour lesquels la Belgique a des médailles d’Or

In [137]:
df[gold&belgique]\
    .drop_duplicates(subset=['Year','Event','Medal'])\
        ['Sport'].value_counts()

Sport
Archery             11
Cycling              7
Fencing              5
Equestrianism        5
Athletics            4
Art Competitions     2
Sailing              2
Judo                 2
Football             1
Figure Skating       1
Weightlifting        1
Boxing               1
Swimming             1
Tennis               1
Shooting             1
Name: count, dtype: int64

27) Quelles sont les années où la Belgique a remporté le plus de médailles

In [146]:
df[medal&belgique].drop_duplicates(subset=['Year','Event','Medal'])\
    .groupby(by=['Year']).count()[['Medal']].sort_index()

      Medal
Year
1900     18
1906      7
1908      8
1912      6
1920     42
1924     14
1928      4
1932      1
1936      3
1948      9
1952      4
1956      2
1960      4
1964      3
1968      2
1972      2
1976      6
1980      1
1984      4
1988      2
1992      3
1996      6
1998      1
2000      5
2004      3
2008      2
2012      3
2016      6

In [148]:
medals_Belgium = (df.loc[(df["Medal"].isin(["Gold", "Silver", "Bronze"]))&
                           (df["NOC"] == "BEL")]
                           .drop_duplicates(subset=["Event","Medal","Year"])
                           ["Year"]
                           .value_counts()
                           )
medals_Belgium

Year
1920    42
1900    18
1924    14
1948     9
1908     8
1906     7
2016     6
1912     6
1976     6
1996     6
2000     5
1928     4
1984     4
1960     4
1952     4
1936     3
2004     3
1992     3
1964     3
2012     3
2008     2
1968     2
1972     2
1956     2
1988     2
1980     1
1998     1
1932     1
Name: count, dtype: int64

28) Afficher les médaillés d’Or féminin en Athlétisme. Afficher le résultat Year, Event, Name, et 
Pays

In [151]:
women = df['Sex'] == 'F'
athletism = df['Sport'] == 'Athletics'

df.loc[gold&women&athletism,['Year','Event','Name','NOC']]

,Year,Event,Name,NOC
1527,2008,Athletics Women's Shot Put,Valerie Kasanita Adams-Vili (-Price),NZL
1528,2012,Athletics Women's Shot Put,Valerie Kasanita Adams-Vili (-Price),NZL
2815,1996,Athletics Women's Long Jump,Chioma Ajunwa (-Opara),NGR
3020,2016,Athletics Women's 4 x 100 metres Relay,Morolake Akinosun,USA
6764,2000,Athletics Women's 4 x 400 metres Relay,Andrea Arlene Anderson (-Bolder),USA
...,...,...,...,...
268293,1972,Athletics Women's 400 metres,Monika Zehrt (-Landgraf),GDR
268294,1972,Athletics Women's 4 x 400 metres Relay,Monika Zehrt (-Landgraf),GDR
270104,1980,Athletics Women's 4 x 400 metres Relay,Nina Anatolivna Ziuskova,URS
270970,2000,Athletics Women's Discus Throw,Ellina Aleksandrovna Zvereva (Kisheyeva-),BLR
271076,1952,Athletics Women's Shot Put,Galina Ivanovna Zybina (-Fyodorova),URS

29) Combien y a-t-il de sport par année

In [154]:
df.drop_duplicates(subset=['Year','Sport'])\
    .groupby(by=['Year']).count()['Sport']

df.groupby(by=['Year'])['Sport'].nunique()

Year
1896     9
1900    20
1904    18
1906    13
1908    24
1912    17
1920    25
1924    30
1928    25
1932    25
1936    32
1948    29
1952    27
1956    27
1960    27
1964    31
1968    30
1972    33
1976    33
1980    33
1984    35
1988    37
1992    41
1994    12
1996    31
1998    14
2000    34
2002    15
2004    34
2006    15
2008    34
2010    15
2012    32
2014    15
2016    34
Name: Sport, dtype: int64

30) Quel est le top 15 des pays ayant le plus de médailles (toutes médailles confondues)

In [159]:
df[medal].drop_duplicates(subset=['NOC','Year','Event','Medal','Team'])\
    .groupby(by=['NOC']).count()[['Medal']]\
        .sort_values(by=['Medal'],ascending=False).head(15)

     Medal
NOC
USA   2824
URS   1197
GER   1007
GBR    922
FRA    886
ITA    722
SWE    657
CHN    595
RUS    584
GDR    519
AUS    519
HUN    510
JPN    482
NOR    477
CAN    475

31) Quels sont les pays gagnant les plus médaillés par sport distinct

In [ ]:
df.loc[(df["Medal"].isin(["Gold", "Silver", "Bronze"]))]\
                           .drop_duplicates(subset=["Event","Medal","Year"])\
                           .groupby(by=['Sport','NOC']).count()[['Medal']]\
                           .reset_index()\
                           .sort_values(by=['Sport','Medal'],ascending=[True,False])\
                           .drop_duplicates(subset=['Sport'])

              Sport  NOC  size
0       Aeronautics  SUI     1
1     Alpine Skiing  AUS     1
2     Alpine Skiing  AUT   112
3     Alpine Skiing  CAN    11
4     Alpine Skiing  CRO    10
...             ...  ...   ...
1417      Wrestling  UKR    14
1418      Wrestling  URS   116
1419      Wrestling  USA   126
1420      Wrestling  UZB     8
1421      Wrestling  YUG    16

[1422 rows x 3 columns]

32) Quels étaient les pays les plus efficaces durant la guerre froide de 1952 à 1988 (i.e. le pays 
avec le plus de médailles par nombre d’athlètes envoyés)

In [195]:
cold_war = df['Year'].between(1952,1988)

efficiency = df[cold_war].groupby(by = ['NOC']).count()[['ID','Medal']]

efficiency['eff'] = (efficiency['Medal'] / efficiency['ID']) * 100

efficiency.sort_values(by=['eff'],ascending=False)

       ID  Medal        eff
NOC
URS  5685   2503  44.028144
GDR  2645   1005  37.996219
PAK   361    105  29.085873
USA  6244   1790  28.667521
WIF    20      5  25.000000
..    ...    ...        ...
VAN     6      0   0.000000
YAR    11      0   0.000000
VNM    62      0   0.000000
VIN     6      0   0.000000
YMD     5      0   0.000000

[176 rows x 3 columns]