In [117]:
# 1. Importation de la librairie pandas
import pandas as pd

# 2. Importation du fichier csv
data = pd.read_csv('Exercices_Pandas_athlete_events.csv')

# 3. Afficher les 5 premières lignes afin de voir si l’importation est correct (fonction : head())
display(data.head(5))

# 4. Afficher les 5 dernière lignes (fonction tail())
display(data.tail(5))

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [3]:
# 5. Afficher les informations sur le dataframe (le nombre de ligne, colonne, le nombre nan, le type de colonne) (méthode info)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [7]:
# 6. Afficher les dimensions du dataframe (la méthode shape)
display(data.shape)

# 7. Afficher les statistiques descriptives du dataframe
display(data.describe())

(271116, 15)

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [13]:
# 8. Compter le nombre de valeur null dans le dataframe
data.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [40]:
# 9. Sélectionner la colonne Edition et afficher (selon 2-3 manières) (Edition=Games)

display(data[['Games']])
display(data.loc[:, ['Games']])
display(data.Games)
data.iloc[0:-1,8]

              Games
0       1992 Summer
1       2012 Summer
2       1920 Summer
3       1900 Summer
4       1988 Winter
...             ...
271111  1976 Winter
271112  2014 Winter
271113  2014 Winter
271114  1998 Winter
271115  2002 Winter

[271116 rows x 1 columns]

              Games
0       1992 Summer
1       2012 Summer
2       1920 Summer
3       1900 Summer
4       1988 Winter
...             ...
271111  1976 Winter
271112  2014 Winter
271113  2014 Winter
271114  1998 Winter
271115  2002 Winter

[271116 rows x 1 columns]

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271110    2016 Summer
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
Name: Games, Length: 271115, dtype: object

In [71]:
# 10. Sélectionner la colonne Name et afficher le résultat en triant par ordre alphabétique
data['Name']= data['Name'].str.replace(' ', '').str.strip()
data['Name'].sort_values()

153340    A.AananthaSambuMayavo
529               A.AbdulRazzak
528               A.AbdulRazzak
4015                   A.Albert
30535                    A.Brun
                  ...
114965                 zlemKaya
79870                 zmanGraud
207676                zzetSafer
102955                  zzetnce
102956                  zzetnce
Name: Name, Length: 271116, dtype: object

In [45]:
# 11. Sélectionner les colonnes Event, city, Name, Medal
data.loc[:,['Event','City','Name','Medal']]

,Event,City,Name,Medal
0,Basketball Men's Basketball,Barcelona,A Dijiang,NaN
1,Judo Men's Extra-Lightweight,London,A Lamusi,NaN
2,Football Men's Football,Antwerpen,Gunnar Nielsen Aaby,NaN
3,Tug-Of-War Men's Tug-Of-War,Paris,Edgar Lindenau Aabye,Gold
4,Speed Skating Women's 500 metres,Calgary,Christine Jacoba Aaftink,NaN
...,...,...,...,...
271111,Luge Mixed (Men)'s Doubles,Innsbruck,Andrzej ya,NaN
271112,"Ski Jumping Men's Large Hill, Individual",Sochi,Piotr ya,NaN
271113,"Ski Jumping Men's Large Hill, Team",Sochi,Piotr ya,NaN
271114,Bobsleigh Men's Four,Nagano,Tomasz Ireneusz ya,NaN
271115,Bobsleigh Men's Four,Salt Lake City,Tomasz Ireneusz ya,NaN

In [47]:
# 12. Slicer les lignes de 0 à 25 du dataframe au moyen du iloc
data.iloc[0:26,:]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

In [72]:
# 13. Filtrer la discipline Football de 2 manières différentes
display(data.loc[data['Sport'] == 'Football'])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,GunnarNielsenAaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
105,37,AnnKristinAarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
116,41,RolfAas,M,28.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
157,61,StefanAbadzhiev,M,26.0,175.0,72.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Football,Football Men's Football,NaN
178,76,JouanPatriceAbandaEtong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270810,135438,ManuelZigaFernndez,M,20.0,172.0,69.0,Spain,ESP,1980 Summer,1980,Summer,Moskva,Football,Football Men's Football,NaN
270843,135455,Vjekoslavupani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
270901,135476,EmilyJaneZurrer,F,21.0,179.0,69.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
270982,135504,ViktorOleksandrovychZviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze
271107,135566,"JamesFrancis""Jim""Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN

In [94]:
# 14. Filtrer le dataframe sur la saison Summer et stocker les lignes dans une nouvelle variable appelée « ete »
summer = data[data['Season'] == 'Summer']
summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Summer
0,1,ADijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,True
1,2,ALamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,True
2,3,GunnarNielsenAaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,True
3,4,EdgarLindenauAabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,True
26,8,"Cornelia""Cor""Aalten(-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,FernandoscarZylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,True
271107,135566,"JamesFrancis""Jim""Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,True
271108,135567,AleksandrViktorovichZyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,True
271109,135567,AleksandrViktorovichZyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,True
271110,135568,OlgaIgorevnaZyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,True

In [95]:
# 15. Filtrer le dataframe sur la saison Winter et stocker les lignes dans une nouvelle variable appelée « hiver »
winter = data[data['Season'] == 'Winter']
winter

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Summer
4,5,ChristineJacobaAaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,False
5,5,ChristineJacobaAaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,False
6,5,ChristineJacobaAaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,False
7,5,ChristineJacobaAaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,False
8,5,ChristineJacobaAaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzejya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,False
271112,135570,Piotrya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,False
271113,135570,Piotrya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,False
271114,135571,TomaszIreneuszya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,False
271115,135571,TomaszIreneuszya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,False

In [97]:
# 16. Afficher de manière unique tous les sports
data['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [119]:
# 17. Filtrer les lignes pour récupérer les athlètes ayant dans leur nom « Owens » ou « Jesse » et stocker cela dans une nouvelle variable
jesse_owens = data[(data['Name'].str.contains('Jesse')) | (data['Name'].str.contains('Owens'))]
jesse_owens

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
14038,7587,"Kenneth Owens ""Ken"" Bantum",M,21.0,198.0,106.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Men's Shot Put,NaN
35531,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Individual,NaN
35532,18266,"Jesse Landis ""Lee"" Carleton",M,41.0,NaN,NaN,United States Golf Association-3,USA,1904 Summer,1904,Summer,St. Louis,Golf,Golf Men's Team,Bronze
43016,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's Sprint,NaN
43017,22182,Jesse Cockney,M,24.0,180.0,76.0,Canada,CAN,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256091,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
256092,128225,Jesse Alfred Wallingford,M,36.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
260999,130612,Jesse Daniel Williams,M,24.0,184.0,80.0,United States,USA,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's High Jump,NaN
261000,130612,Jesse Daniel Williams,M,28.0,184.0,80.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's High Jump,NaN
262755,131475,Harvey Jesse Wood,M,23.0,193.0,89.0,England-1,GBR,1908 Summer,1908,Summer,London,Hockey,Hockey Men's Hockey,Gold

In [132]:
# 17. Compter les occurrences de la colonne Event de Owens, Jesse (fonction value_counts())
data[(data['Name'].str.contains('Jesse')) & (data['Name'].str.contains('Owens'))]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
179557,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 100 metres,Gold
179558,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 200 metres,Gold
179559,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
179560,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's Long Jump,Gold

In [123]:
# 18. Compter y a-t-il de femme est d’homme dans le dataframe (fonction value_counts())
data['Sex'].value_counts()

Sex
M    196594
F     74522
Name: count, dtype: int64

In [131]:
# 19. Quel est l’athlète le plus jeune
display(data[data['Age'] == data['Age'].min()])

# 20. Quel est l’athlète le plus vieux
display(data[data['Age'] == data['Age'].max()])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
257054,128719,John Quincy Adams Ward,M,97.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN

In [138]:
# 22. Quels sont les joueurs ayant gagné des médailles d’Or en badminton simple au cours des années. Trier le résultat par ordre alphabétique sur le nom des joueurs.

gold_badminton_singles = data[(data['Sport'] == 'Badminton') & (data['Event'].str.contains('Singles')) & (data['Medal'] == 'Gold')]

gold_badminton_singles.sort_values('Name')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
31409,16152,Alexander Alan Budikusuma Wiratama,M,24.0,178.0,71.0,Indonesia,INA,1992 Summer,1992,Summer,Barcelona,Badminton,Badminton Men's Singles,Gold
13855,7504,Bang Su-Hyeon,F,23.0,NaN,NaN,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Women's Singles,Gold
149622,75045,Carolina Mara Marn Marn,F,23.0,172.0,65.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Women's Singles,Gold
39337,20238,Chen Long,M,27.0,188.0,81.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,Gold
81604,41427,Gong Zhichao,F,23.0,163.0,52.0,China,CHN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Women's Singles,Gold
108331,54755,Ji Xinpeng,M,22.0,181.0,70.0,China,CHN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,Gold
138456,69540,Li Xuerui,F,21.0,175.0,65.0,China,CHN,2012 Summer,2012,Summer,London,Badminton,Badminton Women's Singles,Gold
139311,69968,Lin Dan,M,24.0,177.0,70.0,China,CHN,2008 Summer,2008,Summer,Beijing,Badminton,Badminton Men's Singles,Gold
139312,69968,Lin Dan,M,28.0,177.0,70.0,China,CHN,2012 Summer,2012,Summer,London,Badminton,Badminton Men's Singles,Gold
232573,116659,"Lucia Francisca ""Susi"" Susanti Haditono",F,21.0,161.0,NaN,Indonesia,INA,1992 Summer,1992,Summer,Barcelona,Badminton,Badminton Women's Singles,Gold
99666,50431,Poul-Erik Hyer Larsen (-Engel Hyer),M,30.0,188.0,79.0,Denmark,DEN,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Men's Singles,Gold
95679,48435,Taufik Hidayat,M,23.0,175.0,65.0,Indonesia,INA,2004 Summer,2004,Summer,Athina,Badminton,Badminton Men's Singles,Gold
268880,134525,Zhang Ning,F,29.0,175.0,65.0,China,CHN,2004 Summer,2004,Summer,Athina,Badminton,Badminton Women's Singles,Gold
268881,134525,Zhang Ning,F,33.0,175.0,65.0,China,CHN,2008 Summer,2008,Summer,Beijing,Badminton,Badminton Women's Singles,Gold

In [145]:
# 23. Quels sont les 3 pays ayant gagné le plus de médailles de 1984 à 2016

medals = data[(data['Medal'] == 'Gold') | (data['Medal'] == 'Silver') | (data['Medal'] == 'Bronze')]
period = medals[(medals['Year'] > 1984) & (medals['Year'] < 2016)]

countries = period['Team'].value_counts()

countries.head(3)

Team
United States    2057
Germany          1028
Russia            987
Name: count, dtype: int64

In [150]:
# 24. Combien y a-t-il d’homme et de femme ayant participé aux Jeux olympiques d’été en 2016
data[(data['Season'] == 'Summer') & (data['Year'] == 2016)]

# Pas fini: reste à trier par personne (id) puis compter H et F

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
80,22,Andreea Aanei,F,22.0,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN
139,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Individual All-Around,NaN
140,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN
141,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Parallel Bars,NaN
142,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271024,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
271053,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
271054,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
271055,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN